- if logged_in?
  .row
    %aside.col-md-4
      %section.user_info
        = render 'shared/user_info'
      %section.micropost_form
        = render 'shared/challenge_form'
- else
  .center.jumbotron
    %h1 Welcome to the kirareko
    %h2
      😎
    = link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary"
  = link_to image_tag("rails.png", alt: "Rails logo"), |
    'http://rubyonrails.org/'                          |
